.container-fluid {
  background-color: #00A890;
}
#logo_head {
  margin-top: 8px;
  text-align: center;
}
#youtube_video {
  margin-top: 20px;
  text-align: center;
}
.jumbotron, .row {
  background-color: inherit;
  color: #FCFCFC;
}
.jumbotron p.lead {
  font-size: 40px;
}
.jumbotron .lead a.btn-outline {
  border: 1px solid #FCFCFC;
  color: inherit;
}
.btn a {
  text-decoration: none;
  color: inherit;
  outline: inherit;
}
.features {
  background-color: #fff;
  color: #00A890;
}
.feature {
  text-align: center;
  font-weight: 200;
}
.features p {
  color: #5f6a7d;
}
.footer {
  text-align: center;
  color: #fff;
  font-size: 1em;
  text-transform: lowercase;
  word-spacing: -0.1em;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer .footer-a {
  word-spacing: -0.3em;
}
.footer .first {
  opacity: 0.7;
}
#footer .second {
  opacity: 0.9;
}
